@import "tailwindcss";

html {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #0F172A;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  background-color: #EF2629;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}