.login {
    display: flex;
    height: 50vh;
    h1 {
        font-weight: bold;
    }

    .loginForm {        
        border-radius: 5px;
        padding: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
        background-color: white;

        .inputFields {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }
    button {
        width: 100%;
        cursor: pointer;
    }
}